//container-narrow
.container-narrow {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up(md) {
        max-width: 540px;
    }
    @include media-breakpoint-up(sm) {
        max-width: 540px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 800px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 860px;
    }
    @include media-breakpoint-up(xxl) {
        max-width: 900px;
    }
}
