.spring-slider-merch {
    --swiper-navigation-color: #FF9500;
    --swiper-pagination-color: #FF9500;
    --swiper-pagination-bullet-inactive-color: #FF9500;
    width: 100%;
    height: 400px;
    position: relative;
    .swiper-pagination {
        bottom: 0;
    }
    .swiper {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }
    .swiper-slide {
        box-sizing: border-box;
        padding: 0 16px;
        img {
            width: 100%;
            height: 250px;
            display: block;
            object-fit: cover;
        }
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        border: 1px solid $secondary;
        background: none;
    }

    .swiper-pagination-bullet-active {
        background: $secondary;
    }
}

.spring-slider-merch {
    .swiper-slide {
        transition-timing-function: cubic-bezier(0.76, 0.09, 0.215, 1);
    }
}

.spring-slider-merch-navigation {
    --swiper-navigation-color: #FF9500;
    display: flex;
    gap: 16px;
    margin-top: 24px;

    .swiper-button-prev,
    .swiper-button-next {
        position: static;
        margin: 0;
        padding: 10px;
        width: 40px;
        height: 40px;
        border: 1px solid $light;
        color: $light;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            font-size: 14px;
        }
    }
}

