.section-spacing {
    margin-bottom: 100px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 48px;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: $headings-letter-spacing;
    text-transform: uppercase;
    line-height: 1;
}

.eyebrow {
    color: $secondary;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.text-label-2 {
    @extend .ls-2;
    font-size: 10px;
    @extend .text-uppercase;
    font-weight: 400;
}

.text-label-1 {
    @extend .ls-1;
    font-size: 12px;
    @extend .text-uppercase;
    font-weight: 400;
}

.img-hover-scale {
    overflow: hidden;

    img {
        transition: transform 0.3s ease;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover img {
        transform: scale(1.05);
    }
}

a, button {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.02em;
}
