.img-hover-scale {
    overflow: hidden;

    img {
        transition: transform 0.3s ease;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover img {
        transform: scale(1.05);
    }
}
